.about {
  width: 1920px;
  background: #171717;
  margin: 0 auto;
}
.company_name {
  width: 216px;
  height: 33px;
  background-image: url(..//img/logo_header.png);
  margin: 46px 0px 64px 230px;
}
.logo_text {
  color: #ffffff;
}
.phone {
  margin: 50px 20px 197px 824px;
}
.phone_text {
  color: #ffffff;
}
.phone_image {
  text-align: center;
}
.accent_color {
  color: #d6af76;
}

.call_back_text {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #e4b564;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  width: 218px;
  height: 50px;
  margin: 27px 230px 286px 39px;
}

.call_back_link {
  color: #e4b564;
}
.wraper {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
}
.title_text {
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
  margin: 64px 1091px 20px 230px;
}
.service_text {
  width: 1182px;
  height: 56px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  margin: 40px 508px 40px 230px;
}
.service_list {
  margin: 20px 230px 80px 230px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 27px 34px;
  grid-auto-flow: row;
  grid-template-areas:
    "item1 item1 item2 item2 item3 item3"
    "item4 item4 item4 item5 item5 item5"
    ". . . . . .";
}

.service_item1 {
  grid-area: item1;
  width: 467px;
  height: 468px;
  background: #634f2c;
  padding: 220px 149px;
  text-align: center;
}

.service_item2 {
  grid-area: item2;
  width: 467px;
  height: 468px;
  background: #b4a385;
  padding: 206px 43px;
  text-align: center;
}

.servive_item3 {
  grid-area: item3;
  width: 467px;
  height: 468px;
  background: #e4b564;
  padding: 220px 140px;
  text-align: center;
}

.servive_item4 {
  grid-area: item4;
  width: 715px;
  height: 468px;
  background: #635a4a;
  padding: 220px 163px;
  text-align: center;
}

.servive_item5 {
  grid-area: item5;
  width: 715px;
  height: 468px;
  background: #b08c4d;
  padding: 220px 237px;
  text-align: center;
}

.service_link {
  list-style: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}
.auto_info {
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
  margin: 161px 713px 94px 236px;
}

.name_auto {
  width: 302px;
  height: 25px;
}
.name_brand_item {
  width: 302px;
  height: 50px;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}

.auto_list {
  margin: 94px 230px 210px 200px;

  display: grid;
  grid-template-columns: repeat(3, 467px);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "auto_item1 auto_item2 auto_item3"
    "auto_item1 auto_item2 auto_item3"
    "auto_item1 auto_item2 auto_item6"
    "auto_item4 auto_item2 auto_item6"
    "auto_item4 auto_item5 auto_item6"
    "auto_item4 auto_item5 auto_item7"
    "auto_item4 auto_item5 auto_item7"
    "auto_item4 auto_item5 auto_item7";
}

.auto_item1 {
  grid-area: auto_item1;
  width: 467px;
  height: 390px;
  background: #0e0e0e;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  padding: 44px 113px 219px 52px;
}

.auto_item2 {
  grid-area: auto_item2;
  width: 467px;
  height: 530px;
  background: #242424;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  padding: 44px 114px 345px 51px;
}

.auto_item3 {
  grid-area: auto_item3;
  width: 467px;
  height: 255px;
  background: #1f1f1f;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  padding: 44px 117px 186px 48px;
}

.auto_item4 {
  grid-area: auto_item4;
  width: 467px;
  height: 560px;
  background: #1f1f1f;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  padding: 56px 113px 479px 52px;
}

.auto_item5 {
  grid-area: auto_item5;
  width: 467px;
  height: 405px;
  background: #e4b564;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #0000;
  padding: 47px 113px 333px 52px;
}

.auto_item6 {
  grid-area: auto_item6;
  width: 467px;
  height: 392px;
  background: #0e0e0e;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  padding: 47px 117px 244px 48px;
}

.auto_item7 {
  grid-area: auto_item7;
  width: 467px;
  height: 286px;
  background: #0a0909;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  padding: 47px 117px 208px 48px;
}
.name_auto {
  color: #ffffff;
  align-content: center;
}
.accen_color {
  color: #000000;
}
.auto_list {
  padding: 44px;
}

.title_project {
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
  margin-left: 230px;
}
.project_link {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  border: 1px solid #e4b564;
  width: 180px;
  height: 50px;
  text-align: center;
  margin-right: 230px;
  padding: 10px 39px;
}

.cection_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: none;
}
.project_link_button {
  color: #e4b564;
}
.client_name {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 487px);
  justify-content: space-between;
  margin-left: 230px;
  margin-right: 230px;
  padding: 0;
  border: none;
}

.info_text {
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #ffffff;
}

.client_link1 {
  width: 487px;
  height: 391px;
  background: #634f2c;
  padding: 171px 151px;
}
.client_link2 {
  width: 486px;
  height: 391px;
  background: rgba(232, 210, 171, 0.76);
  border: none;
}
.img_logo {
  width: 62px;
  height: 55px;
  margin: 61px 207px 3px 217px;
}
.img_text {
  width: 139px;
  height: 55px;
  margin: 3px 173px 16px 173px;
}
.info_text {
  width: 326px;
  height: 140px;
  margin: 16px 80px 61px 80px;
  text-align: center;
}
.client_link3 {
  width: 487px;
  height: 391px;
  background: #e4b564;
  padding: 174px 148px;
}
.client_link4 {
  width: 487px;
  height: 391px;
  background: #635a4a;
  padding: 174px 148px;
}
.client_link5 {
  width: 486px;
  height: 391px;
  background: #b08c4d;
  padding: 170px 184px;
}
.client_link6 {
  width: 487px;
  height: 391px;
  background: #634f2c;
  padding: 174px 148px;
}
